#board-single, #board-layout-main,
.modal-chessboard-container-next-component,
.sidebar-play-tray,
.board-layout-nav,
.puzzle-modal-rush-over-component {
    display: none;
}

main>.board-layout-sidebar {
    margin-top: min(10vmax, 10rem);
    margin-bottom: min(10vmax, 10rem);
}